<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd" >
<suite name="API Automation Suite">
    <test name="Regression Tests">
        <classes>
            <class name="com.nagaraju.tests.UsersTest" />
            <class name="com.nagaraju.tests.PostsTest" />
        </classes>
    </test>
</suite>